apiVersion: v1
kind: Service
metadata:
  name: backend-lb
  namespace: prodental
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - name: http
      port: 8091
      targetPort: 8091
