name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build Backend
      run: |
        cd ./backend
        docker build -t backend-service .

    - name: Docker Push
      run: |
        docker push backend-service
